{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
	  <title>My App</title>
	  <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
	  <link rel="stylesheet" href="{% static 'style.css' %}" />
	  <script type="text/javascript" src="{% static 'jquery.slim.min.js' %}" />
	  <script src="{% static 'bootstrap.min.js' %}"></script>
	  <script type="text/javascript">
	  	$(function() {
	  		{% if form.errors or registered %}
	  			$("#form").removeAttr("hidden");
	  		{% else %}
	  			$("#homepage").removeAttr("hidden", "");
	  		{% endif %}
	  	});
		function showForm(event) {
			$("#homepage").attr("hidden", "");
			$("#form").removeAttr("hidden");
		};
		function showHome(event) {
			$("#homepage").removeAttr("hidden");
			$("#form").attr("hidden", "");
		};
	  </script>
  </head>
  <body background="{% static 'background.jpg' %}">
	<div class="container-fluid text-center">
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#" onclick="showHome(this);">Rubiks Cube Challenge</a>
		    </div>
		    <ul class="nav navbar-nav pull-right">
		      <li><a href="#register" onclick="showForm(this);">Register</a></li>
		    </ul>
		  </div>
		</nav>
		<div class="row">
				<h1 style="color: white;">Rubiks Cube Challenge</h1>
		</div>
		<div class="row">
			<h1></h1>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1" id="homepage" hidden>
				<h3 style="color: white;">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</h3>
				<a href="#register" class="btn btn-lg btn-primary black-background white" onclick="showForm(this);">Register</a>
			</div>
			<div class="col-md-6 col-md-offset-3" id="form" hidden>
				<form action="." method="POST">
					{% csrf_token %}
					<legend style="color: white;">Register</legend>
					{% if form.errors %}
						<div class="alert alert-danger" role="alert">
							<strong>Sorry!</strong> {{ form.errors.email | striptags }}
						</div>
					{% elif registered %}
						<div class="alert alert-success" role="alert">
							<strong>Congratulations!</strong> You have been successfully registered.
						</div>
					{% endif %}
					<div class="form-group">
						<label for="name" style="color: white;">Name:</label>
						<input class="form-control black-background white" id="name" name="name" type="text" required>
					</div>
					<div class="form-group">
						<label for="email" style="color: white;">Email:</label>
						<input class="form-control black-background white" id="email" name="email" type="email" required>
					</div>
					<div class="form-group">
						<label for="phone" style="color: white;">Phone No.:</label>
						<input class="form-control black-background white" id="phone" name="phone" type="number" required>
					</div>
					<div class="form-group">
						<label for="gender" style="color: white;">Gender:</label>
						<select class="form-control black-background white" id="gender" name="gender" type="text" required>
							<option value="M">Male</option>
							<option value="F">Female</option>
							<option value="O">Other</option>
						</select>
					</div>
					<button type="submit" class="btn btn-lg btn-primary black-background white">Register</button>
				</form>
			</div>
		</div>
	</div>
  </body>
</html>
