Hello,<br>
Buckle up for a Guinness World Record.<br>
If you were waiting for the last moment this is it. 4 days to go.We hope you have already started learning how to solve a Rubik's cube. (The cubes need to be collected back for judges to check before the D-day)<br>
<br>
If you haven't, you might want to attend the workshop today at NAB 6163 from 5:00 to 7:00.<br>
<br>
If you haven't received your cube yet, the probability of finding you in your room during three rounds of door to door distribution was pretty low. You can collect your cube from workshop or BUDH 1120.<br>
<br>
For any queries or worries, shoot it at Shivam (+91-8003322884)