Greetings,
<br><br>
This has never been done before!<br><br>
We have crossed 4200 mark. The registrations have been freezed.<br>
We are 5 Days from a Guinness World Recird Attempt. This has never been done before. If we do it this would be the first time in the world that 4000+ people solve Rubik's cube.<br>
We hope you are equally excited and have started learning it on your own, or from your friends, pdf document, or the video links for Youtube. Even better, you can attend the common room workshops or Workshops in NAB.<br>
<br>
The Common Room Workshops Session for Today are as follows:
<table cellspacing="0" cellpadding="0" style="font-size:12.8px;border-collapse:collapse">
	<tbody>
		<tr>
			<td valign="top" style="width:147px;height:13px;background-color:rgb(190,192,191);border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><font color="#000000" face="helvetica"><span style="font-size:10px;font-variant-ligatures:common-ligatures"><b>Bhawan</b></span></font></p></td>
			<td valign="top" style="width:147px;height:13px;background-color:rgb(190,192,191);border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><font color="#000000" style="font-variant-numeric:normal;font-stretch:normal;font-size:10px;line-height:normal;font-family:helvetica;font-kerning:none;font-variant-ligatures:common-ligatures;color:rgb(0,0,0)"><b>Time</b></font></p></td>
			<td valign="top" style="width:147px;height:13px;background-color:rgb(190,192,191);border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><font color="#000000" style="font-variant-numeric:normal;font-stretch:normal;font-size:10px;line-height:normal;font-family:helvetica;font-kerning:none;font-variant-ligatures:common-ligatures;color:rgb(0,0,0)"><b>Venue</b></font></p></td></tr>
		<tr>
			<td valign="top" style="width:147px;height:13px;background-color:rgb(227,228,228);border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><b>MLE</b></p></td>
			<td valign="top" style="width:147px;height:13px;border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><font color="#000000" face="helvetica"><span style="font-size:10px;font-variant-ligatures:common-ligatures">8:30P.M. - 10:30P.M.</span></font></p></td>
			<td valign="top" style="width:147px;height:13px;border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px">Common Room<p align="right" style="margin:0px;text-align:right"></p></td>
		</tr>
		<tr>
			<td valign="top" style="width:147px;height:13px;background-color:rgb(227,228,228);border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><b>ML</b></p></td>
			<td valign="top" style="width:147px;height:13px;border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><font color="#000000" face="helvetica"><span style="font-size:10px;font-variant-ligatures:common-ligatures">8:30P.M. - 10:30P.M.</span></font></p></td>
			<td valign="top" style="width:147px;height:13px;border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px">Common Room<p align="right" style="margin:0px;text-align:right"></p></td>
		</tr>
		<tr>
			<td valign="top" style="width:147px;height:13px;background-color:rgb(227,228,228);border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><b>BD</b></p></td>
			<td valign="top" style="width:147px;height:13px;border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><font color="#000000" face="helvetica"><span style="font-size:10px;font-variant-ligatures:common-ligatures">8:30P.M. - 10:30P.M.</span></font></p></td>
			<td valign="top" style="width:147px;height:13px;border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px">Common Room<p align="right" style="margin:0px;text-align:right"></p></td>
		</tr>
		<tr>
			<td valign="top" style="width:147px;height:13px;background-color:rgb(227,228,228);border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><b>SK</b></p></td>
			<td valign="top" style="width:147px;height:13px;border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><font color="#000000" face="helvetica"><span style="font-size:10px;font-variant-ligatures:common-ligatures">8:30P.M. - 10:30P.M.</span></font></p></td>
			<td valign="top" style="width:147px;height:13px;border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px">Common Room<p align="right" style="margin:0px;text-align:right"></p></td>
		</tr>
		<tr>
			<td valign="top" style="width:147px;height:13px;background-color:rgb(227,228,228);border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><b>VY</b></p></td>
			<td valign="top" style="width:147px;height:13px;border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><font color="#000000" face="helvetica"><span style="font-size:10px;font-variant-ligatures:common-ligatures">8:30P.M. - 10:30P.M.</span></font></p></td>
			<td valign="top" style="width:147px;height:13px;border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px">Common Room<p align="right" style="margin:0px;text-align:right"></p></td>
		</tr>
		<tr>
			<td valign="top" style="width:147px;height:13px;background-color:rgb(227,228,228);border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><b>MR</b></p></td>
			<td valign="top" style="width:147px;height:13px;border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><font color="#000000" face="helvetica"><span style="font-size:10px;font-variant-ligatures:common-ligatures">8:30P.M. - 10:30P.M.</span></font></p></td>
			<td valign="top" style="width:147px;height:13px;border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px">Common Room<p align="right" style="margin:0px;text-align:right"></p></td>
		</tr>
	</tbody>
</table>
<br>

The workshop schedule is as follows:
<table cellspacing="0" cellpadding="0" style="font-size:12.8px;border-collapse:collapse">
	<tbody>
		<tr>
			<td valign="top" style="width:147px;height:13px;background-color:rgb(190,192,191);border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><font color="#000000" style="font-variant-numeric:normal;font-stretch:normal;font-size:10px;line-height:normal;font-family:helvetica;font-kerning:none;font-variant-ligatures:common-ligatures;color:rgb(0,0,0)"><b>Date</b></font></p></td>
			<td valign="top" style="width:147px;height:13px;background-color:rgb(190,192,191);border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><font color="#000000" style="font-variant-numeric:normal;font-stretch:normal;font-size:10px;line-height:normal;font-family:helvetica;font-kerning:none;font-variant-ligatures:common-ligatures;color:rgb(0,0,0)"><b>Time</b></font></p></td>
			<td valign="top" style="width:147px;height:13px;background-color:rgb(190,192,191);border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><font color="#000000" style="font-variant-numeric:normal;font-stretch:normal;font-size:10px;line-height:normal;font-family:helvetica;font-kerning:none;font-variant-ligatures:common-ligatures;color:rgb(0,0,0)"><b>Venue</b></font></p></td>
		</tr>
		<tr>
			<td valign="top" style="width:147px;height:13px;background-color:rgb(227,228,228);border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><font color="#000000" style="font-variant-numeric:normal;font-stretch:normal;font-size:10px;line-height:normal;font-family:helvetica;font-kerning:none;font-variant-ligatures:common-ligatures;color:rgb(0,0,0)"><b>09/04/2017</b></font></p></td>
			<td valign="top" style="width:147px;height:13px;border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><font color="#000000" style="font-variant-numeric:normal;font-stretch:normal;font-size:10px;line-height:normal;font-family:helvetica;font-kerning:none;font-variant-ligatures:common-ligatures;color:rgb(0,0,0)">5:00pm-7:00pm</font></p></td>
			<td valign="top" style="width:147px;height:13px;border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p align="right" style="margin:0px;text-align:right"><font color="#000000" style="font-variant-numeric:normal;font-stretch:normal;font-size:10px;line-height:normal;font-family:helvetica;font-kerning:none;font-variant-ligatures:common-ligatures;color:rgb(0,0,0)">6163</font></p></td>
			</tr>
		<tr>
			<td valign="top" style="width:147px;height:13px;background-color:rgb(227,228,228);border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><font color="#000000" style="font-variant-numeric:normal;font-stretch:normal;font-size:10px;line-height:normal;font-family:helvetica;font-kerning:none;font-variant-ligatures:common-ligatures;color:rgb(0,0,0)"><b>11/04/2017</b></font></p></td><td valign="top" style="width:147px;height:13px;background-color:rgb(239,239,239);border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><font color="#000000" style="font-variant-numeric:normal;font-stretch:normal;font-size:10px;line-height:normal;font-family:helvetica;font-kerning:none;font-variant-ligatures:common-ligatures;color:rgb(0,0,0)">5:00pm-7:00pm</font></p></td>
			<td valign="top" style="width:147px;height:13px;background-color:rgb(239,239,239);border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p align="right" style="margin:0px;text-align:right"><font color="#000000" style="font-variant-numeric:normal;font-stretch:normal;font-size:10px;line-height:normal;font-family:helvetica;font-kerning:none;font-variant-ligatures:common-ligatures;color:rgb(0,0,0)">6163</font></p></td></tr><tr><td valign="top" style="width:147px;height:13px;background-color:rgb(227,228,228);border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><font color="#000000" style="font-variant-numeric:normal;font-stretch:normal;font-size:10px;line-height:normal;font-family:helvetica;font-kerning:none;font-variant-ligatures:common-ligatures;color:rgb(0,0,0)"><b>12/04/2017</b></font></p></td>
			<td valign="top" style="width:147px;height:13px;border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p style="margin:0px"><font color="#000000" style="font-variant-numeric:normal;font-stretch:normal;font-size:10px;line-height:normal;font-family:helvetica;font-kerning:none;font-variant-ligatures:common-ligatures;color:rgb(0,0,0)">5:00pm-7:00pm</font></p></td>
			<td valign="top" style="width:147px;height:13px;border-style:solid;border-width:1px;border-color:rgb(0,0,0);padding:4px"><p align="right" style="margin:0px;text-align:right"><font color="#000000" style="font-variant-numeric:normal;font-stretch:normal;font-size:10px;line-height:normal;font-family:helvetica;font-kerning:none;font-variant-ligatures:common-ligatures;color:rgb(0,0,0)">6163</font></p></td>
		</tr>
	</tbody>
</table>
<br>
If you haven't recieved your Rubik's Cube. You will get it during workshop.<br>
For any queries, conatct -<br>
Shivam (8003322884)<br>